<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>ub-service</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:applicationContext.xml
        </param-value>
    </context-param>
    <!-- 用于配置 配置文件的模式，pro:线上部署模式，dev:开发模式，默认为pro,不需要修改，pro模式时，可以指定环境变量confPrefix自定义配置文件所在路径。如果是开发环境，在Tomcat中VM arg中添加参数 -->
    <context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>dev</param-value> <!-- pro/dev -->
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
</web-app>